:root {
  --font-lg: 38px;
  --font-md: 24px;
  --font-sm: 15px;
  --font-xs: 9px;

  --size-lg: 1280px;
  --size-md: 976px;
  --size-sm: 768px;
  --size-xs: 500px;

  font-size: 12px;
  --font-weight: 700px;
  --image-width: 150px;
  --image-height: 150px;
  --product-card-height: 200px;
  --product-card-width: 50px;
}


.h1,h2,h3{
    font-family: 'Ivy Mode';
    src: local('Ivy Mode Bold Italic'), local('Ivy-Mode-Bold-Italic'),
      url('/IvyMode-BoldItalic.woff2') format('woff2'),
      url('/IvyMode-BoldItalic.woff') format('woff'),
      url('/IvyMode-BoldItalic.ttf') format('truetype');
    font-weight: var(--font-weight);
    font-style: italic;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
  font-weight: 5em; 
  font-size: x-large; 
  color:#AAAAAA; 
  font-weight:bold;
}

.popup h1{
  color:#E7B542;
}
.bi-sliders2,.bi-x-lg{
  color:#E7B542;
}
html {
  height: 100%;
  background: #000;
  width: fit-content;
}

/* section.propertyCards{
  width: 100%;
} */

.body {
  width: auto;
  height: auto;
  display: flex;
  background-color: black ;
  justify-content: space-around;
  /* padding: 20px; */
  box-sizing: border-box;
  width: fit-content;
  font-family: 'Ivy Mode';
    src: local('Ivy Mode Bold Italic'), local('Ivy-Mode-Bold-Italic'),
      url('/IvyMode-BoldItalic.woff2') format('woff2'),
      url('/IvyMode-BoldItalic.woff') format('woff'),
      url('/IvyMode-BoldItalic.ttf') format('truetype');

}

a {
    text-decoration: none;
}


.navbar {
    width: 100%;
    height: var(--product-card-width);
    background-color: #000;
    color: #8F90A6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-leftSide{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.navbar-rightSide {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content:end;
}

.navbar-menuItmes {
    list-style: none;
    display: flex;
}

.navbar-menuItem, .navbar-settingButton {
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: 5px;
    color: #AAAAAA;
    font-size: var(--font-md);
    font-weight: bolder;
    text-shadow: 0 0 1px #fff;
}

.navbar-menuItem:first-child {
    font-size: var(--font-md);
}

.navbar-menuItem.navbar-leftSide,.active{
    background-color: white;
    color: #000;
    border-radius: 0.25rem;
    border-spacing: 10rem;
}

/* PRODUCT CARD IS HERE */

.popup-wrapper {
  display: none;
  /* visibility: hidden; */
  position:absolute; top:25%; right:10%;
  width:min-content;   /* don't change it otherwise location of popup will also going to be change */
  padding:10px; margin:3px; z-index:100;
  box-shadow: 0 0 20px 2px  #E7B542;
  background: white;
  z-index: 2;
  padding: 10px;
  border-radius: 12px;
  text-overflow:unset;
}

/* product card start */
/*  */
.product-card {
  border-radius: .9rem;
  background-color: #fff;
  height:var(--product-card-height);
  box-shadow: 0 0 0.2rem -0.05rem rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 0.5em; /* this */
  white-space: nowrap;
}

 .product-card:hover {
    box-shadow: 0 0 1rem 0.10rem  #E7B542;
    border: #E7B542;
  }

.image-card {
  border-radius: .9rem;
  width: var(--image-width);
  height: var(--image-height);
  box-shadow: 0 0 1.0em -0.2em rgba(0, 0, 0, 0.5);
  transform: scale(1,1) translate(calc(var(--image-width)/6), calc((var(--product-card-height) - var(--image-height)) / 2)) scale(1, 1);
  background-color: white;
  overflow: hidden;
}

.product-content{
  padding: 1.5rem 0;
  display:inline-flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.product-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: top;
  transform: translate(3rem, 0rem);
  justify-content: space-between;
  color: #E7B542;
  display: flex;
  overflow: hidden;
  text-overflow:unset;
  white-space: normal;/*or normal*/
  padding-right: 5rem;
}

.product-info {
  font-size: 1.3rem;
  padding-right: 1rem;
  color: gray;
  padding-top: 0.2em;
  display: flex;
  justify-content: space-between;
  transform:translate(3rem, 0rem) ;
  overflow: hidden;
  white-space: nowrap;
}


/* Float  columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0rem 0.25rem 0rem 0rem;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -0.125rem;
  padding: 0 0.25rem 0rem 0rem;
  width: fit-content;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#btn{
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
  color: white;
  cursor: pointer;
  position:relative;
  overflow: hidden;
  font-size: 15px;
  background: #212121;
  justify-content:flex-end;
  text-align: end;
  mask-size: contain;
  width: fit-content;
  align-content: space-between;
  transform: translate(13em);
  }


  @media screen and (max-width: 600px) {
    .body {
      flex-direction:column-reverse;
    }
    .product-info > :nth-child(2){
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-self: baseline;
      
    }
    .product-card {
      width: 90% !important;
      margin:0.25rem calc(var(--image-width)/4);
      box-sizing: border-box;
    }
    .column {
      width: 100%;
      display: block;
      margin-bottom: 0.5rem;
      padding: 0 0.25rem 0.25rem 0rem;
    }
  } 

  
  
  @media screen and (min-width: 601px)
  {
    .product-card {
      width: 90% !important;
      margin:10px calc(var(--image-width)/4);
      box-sizing: border-box;
    }
    
  }
  